@import "../../global.scss";

.topbar{
    width: 90%;
    height: 60px;
    background-color: white;
    color: $mainColor;
    position: fixed;
    top: 0;
    z-index: 99;

    .wrapper{
        padding: 10px 30px;
        display: flex;
        align-items: center;
        justify-content: space-between;

        .left{
            .logo{
                font-size: 30px;
                font-weight: 700;
                text-decoration: none;
                color: inherit;
            }
        }
    }
}